.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.sent{
  color: green;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
  margin-top: 10px;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #8a2b06;
}

.actions .button {
  background-color: #8a2b06;
  color: white;
}

label{
  font-weight: bold;
  font-size: 1rem;
  margin:1rem;
}

.error{
  margin: 0.5rem;
  color: rgba(255, 0, 0, 0.891);
  font-weight: bold;
  font-size: 0.8rem;
}
input{
  margin:0;
}
.inputfetch{
  margin:1rem;
  border-width: 1px;
  border-radius: 10px;
  padding: 9px;
}
.buttonf{
  font: inherit;
  cursor: pointer;
  color: black;
  background-color: rgb(204, 247, 204);
  border: 1px solid #358503;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.buttonf:hover,
.buttonf:active {
  background-color: #048200;
  border-color: #ffffff;
  color: white;
}
